.error {
  color: red;
  font-weight: bold;
}
.left {
  text-align: left;
}
.centerblock {
  width: 800px;
  margin: auto;
}
.container {
  display: flex;
  margin-right: 20px;
}
.container .sideleft {
  width: 25%;
}
.container .sidecenter {
  width: 50%;
}
.container .sideright {
  width: 25%;
}
.namecol {
  width: 30%;
  display: inline-block;
}
.valuecol {
  width: 65%;
  display: inline-block;
}
.w100 {
  width: 100%;
}
.controls {
  margin-bottom: 20px;
}
